html {
    height: 100%;
    box-sizing: border-box;
  }
  
  body {
      background-image: url("../images/dirty_old_shirt.png");
      font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 16px;
  }
  
 h1,h2 {
     text-align: center;
     color: silver;
 }

 .footer {
	right: 0;
	left: 0;
	bottom: 0;
  	position: absolute;
    background: silver;
    text-align: center;
    font-size: 30px;
    color: black;
  	padding: 1rem;
}