html {
    height: 100%;
    box-sizing: border-box;
  }
  
  body {
      background-image: url("../images/dirty_old_shirt.png");
      font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 16px;
  }
  
 h1,h2{
     text-align: center;
     color: silver;
 }

img{
  height: 250px;
  width: 250px;
}
 .list-group {
   margin-top: 20px;
   box-shadow:10px 10px 30px #e74c3c;
 }
 

 .footer {
	right: 0;
	left: 0;
	bottom: 0;
  position: fixed;
  background: silver;
  text-align: center;
  font-size: 16px;
  color: black;
  padding: 10px;
}